.container-fluid {
	background-color: white;
	background-image: image-url("winter_2011_stihl.jpg");
}


//----------------------Master header-------------------------------------------------------

.master_row {
	background-color: white;
	height: 40px;
}

.master_row .container{
	text-align: center;
	margin-top: 9px;
}

//---------------------------------Header---------------------------------------------------
header {
	height: 50px;
	font-family: 'Playfair Display', serif;
	border-top: 7px solid black;
	background-color: #e7e7e7;
}

header ul {
	text-align: center;
	padding-left: 0;
	margin-top: 5px;
}

header ul li  {
	display: inline;
	text-decoration: none;
}

header ul li a {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	color: black;
	font-weight: 700;
	font-size: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

header ul li a:link, a:visited{
	color: black;
	text-decoration: none;
}



header ul li a:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}

//----------------------------------Footer----------------------------------------------------------

footer {
	height: 30px;
	background-color: #e7e7e7;
	border-bottom: 7px solid black;
	font-family: 'Playfair Display', serif;
	color: black;
}

footer p {
	text-align: center;
	font-weight: 600;
}

//----------------------------------Left Navigation-----------------------------------------------

#left_navigation {
	margin: 10px;
	height: auto;
	min-height: 300px;
	background-color: rgba(99, 99, 99 , 0.8);
}

//-------------------------------Main Content------------------------------------------------------

#main_content {
	margin: 10px;
	height: auto;
	min-height: 300px;
	background-color: rgba(99, 99, 99 , 0.8);
}

//------------------------------Teaser--------------------------------------------------------------

#teaser {
}

#teaser > div {
	margin-bottom: 20px;
	margin-top: 15px;
}

.teaser-door {
	height: 200px;
	padding: 10px;
	background-color: rgba(99, 99, 99 , 0.8);
}
