<div class="main_content">
    <h2>Качественное и не дорогое удаление деревьев в Харькове</h2>
    <p>В связи с постоянной активизацией работ по благоустройству городских парков, дворов и приусадебных участков услуги по спиливанию деревьев требуются регулярно.
        При этом спилить дерево без специального оборудования и участия квалифицированных арбористов и подсобных рабочих на должном качественном уровне не получится.
        Компания «TreeCut» обладает штатом опытных сотрудников, владеющих современными методиками оказания подобных услуг.
        Сотрудничество с нами гарантирует валку насаждений в самых сложных случаях, требующих тщательного соблюдения всех правил безопасности.
    </p>
    <%= image_tag ("main_foto.jpg") %>
    <h2>Валка деревьев частями - одно из направлений нашей деятельности</h2>
    <p>Одной из наиболее сложных и ответственных услуг является удаление деревьев частями.
        Оно необходимо при наличии рядом с местом работы инфраструктурных или социально значимых объектов.
        В таких ситуациях объективные обстоятельства не позволяют обеспечить безопасность спиливания ствола целиком, поэтому приходиться выполнять работы по частям.
        Услуга оказывается специалистами компании «PROARBORIST» в несколько основных этапов:
    </p>
    <ol>
        <li>арборист взбирается на вершину необходимого дерева с помощью специальных приспособлений для промышленного альпинизма;</li>
        <li>первоначально с вершины удаляются ветки, после чего начинается спиливание кусков самого ствола, длиной в 2-4 метра;</li>
        <li>спиленные части сбрасываются на землю в соответствии с указаниями подсобных рабочих;</li>
        <li>в сложных случаях напарник промышленного альпиниста, который находится внизу, организует оттяжку ствола перед спиливанием в направлении будущего падения.</li>
    </ol>

    <h2>Наши преимущества</h2>
    <ul>
        <li>У нас работают только лучшие арбористы</li>
        <li>100% безопасное проведение работ</li>
        <li>Гарантированная защита от короеда</li>
        <li>Приемлемые цены</li>
        <li>Постоянным клиентам — специальные условия</li>
        <li>10 лет работы с деревьями</li>
    </ul>

</div>
