<header>
	<ul>
		<li><%= link_to 'Главная', static_pages_index_path %></li>
		<li><a href="#">Услуги</a></li>
		<li><a href="#">Наши работы</a></li>
		<li><a href="#">Статьи</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
</header>