<div id="left_navigation">
    <!--<a href="#">Валка деревьев</a></br>-->
    <!--<a href="#">Кронирование деревьев</a></br>-->
    <!--<a href="#">Спил сухих деревьев</a></br>-->
    <!--<a href="#">Удаление пней и корней</a></br>-->

    <ul>
        <li><%= link_to 'Валка деревьев', static_pages_feeling_trees_path %></li><hr>
        <li><a href="#">Кронирование деревьев</a></li><hr>
        <li><a href="#">Спил сухих деревьев</a></li><hr>
        <li><a href="#">Удаление пней и корней</a></li><hr>
    </ul>
</div>