<div id="left_navigation">
    <!--<a href="#">Валка деревьев</a></br>-->
    <!--<a href="#">Кронирование деревьев</a></br>-->
    <!--<a href="#">Спил сухих деревьев</a></br>-->
    <!--<a href="#">Удаление пней и корней</a></br>-->

    <ul>
        <li style="padding-top: 20px"><a href="#">Валка деревьев</a></br></li><hr>
        <li><a href="#">Кронирование деревьев</a></li><hr>
        <li><a href="#">Спил сухих деревьев</a></li><hr>
        <li><a href="#">Удаление пней и корней</a></li><hr>
    </ul>
</div>