
    <div class="col-lg-4">
         <div class="teaser-door">
             <img src="http://placehold.it/350x150">
         </div>
    </div>

    <div class="col-lg-4">
        <div class="teaser-door">
            <img src="http://placehold.it/350x150">
        </div>
    </div>

    <div class="col-lg-4">
        <div class="teaser-door">
            <img src="http://placehold.it/350x150">
        </div>
    </div>

