
    <div class="col-xs-4">
         <div class="teaser-door">
             dfljdlgjfdlkgj
         </div>
    </div>

    <div class="col-xs-4">
        <div class="teaser-door">
            dfljdlgjfdlkgj
        </div>
    </div>

    <div class="col-xs-4">
        <div class="teaser-door">
            dfljdlgjfdlkgj
        </div>
    </div>

