
    <div class="col-lg-4">
         <div class="teaser-door">
             <img src="http://lorempixel.com/400/200" />
         </div>
    </div>

    <div class="col-lg-4">
        <div class="teaser-door">
            <img src="http://lorempixel.com/400/200" />
        </div>
    </div>

    <div class="col-lg-4">
        <div class="teaser-door">
            <img src="http://lorempixel.com/400/200" />
        </div>
    </div>

